/* regla general que afecta a todos los elementos del documento HTML, es decir se elimina todos 
los margin y padding que viene por defecto*/
/* también estoy usando la propriedad border-box que afecta a todos los el
   elementos que tengan padding, width y border, en este caso recalcula el ancho de una caja para que 
   el width sea la estrictamente la suma de border + padding + ancho o altura que
   sea necesario para que se cumpla y no descuadre la caja. */

* {
    margin: 0;
    padding: 0;
    
    
}

/* regla que afecta al body de la página web*/

body{
    font-family: sans-serif;
    color: #303336;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* en los siguientes bloques de código está estilizado el header que contiene el menu de navegación
de la web */

.abrir, .cerrar{
    -webkit-appearance: none;
    appearance: none;
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header{
    box-sizing:border-box;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: black;
}



header .logo{
    font-family: 'Corinthia', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    line-height: 0.7em;
    text-align: center;
    text-transform: lowercase;
    color: white;
    margin-left: -50px;
    text-decoration: none;
}

nav ul{
    list-style:none;
    display:flex;
}

header nav li{
    list-style: none;
    margin-left: 25px;
}

nav li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}


/*los siguientes 3 bloques de código estiliza la sección home */

.imgFondo{
    position: relative;
    background-image: url(../img/imgFondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    background-size: cover;
}

.imgFondo  h1{
    margin-top: 20px;
    text-align: center;
    font-size: 5em;
    color: #fff;
    font-family: 'Abril Fatface', cursive;
    font-weight: 300;
}

.imgFondo  p{
    font-size: 2em;
    font-weight: 300;
    color: #ffff;
    margin-top: 100px;
    text-align: center;
    margin: 120px;
    margin-top: 20px;
}

/* en los siguientes bloques de código están estilizados la sección de los top restaurantes*/



.seccion-restaurantes{
    box-sizing: border-box; 
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 30px;
    background-color: red; /*#FAFAFA*/
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
    letter-spacing: 2px;
    top: 150px;
    margin-bottom: 20px;
}

.seccion-restaurantes .general{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 95vh;
    padding: 50px;
    
}

.seccion-restaurantes .contenido-izquierda{
    width: 700px;
    height: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.seccion-restaurantes .contenido-izquierda img{
    width: 100%;
    height:100vh;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.seccion-restaurantes .contenido-derecha{
    position: relative;
    width: calc(100% - 700px);
    height: 100%;
    padding-left: 35px;
}



.seccion-restaurantes .imgReducidas{
    position: absolute;
    display: flex;
    bottom: 0; 
    height: 100px;
}

.seccion-restaurantes .imgReducidas img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 500ms;
}

.seccion-restaurantes .imgReducidas img:hover{
    opacity:.70;
}

.seccion-restaurantes .imgReducidas img:nth-child(2){
   margin: 0 10px;
}

.textosRestaurante h2, .textosRestaurante p{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 100px;
    font-size:2em;
    
}

.textosBrunch h2, .textosBrunch p{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 10px;
    font-size:2em;
    /*flex-shrink: 1;*/

}

.titulos h2{
    font-size:2em;
}


.seccion-restaurantes h2{
   margin-top: 20px;
   font-size: 3em;
   font-weight: 700;
   line-height: 1;
}

.seccion-restaurantes p{
   margin-top: 20px;
   font-size: 1em;
   color: #7B8591;
   font-family:'Comic Neue', cursive;
   font-weight:400;
}




/* estilizamos la sección top Brunch */

.cuadro{
  width: 20%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid #fff;
  /*border-bottom: 108px solid #fff;*/
  border-radius: 10px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.topBrunch{
  width: 100%;
  text-align:center;
  margin-top:100px;
  padding-top:100px;

}

.topBrunch h2, .topBrunch p{
    font-weight:200;
    color:black;
    padding: 10px;
}

.topBrunch h2{
   margin-top: 20px;
   font-size: 2em;
   font-weight: 700;
   line-height: 1;
   color: #303336;
   font-family: sans-serif;
}

.topBrunch p{
   margin-top: 20px;
   font-size: 2em;
   color: #303336;
   font-family:sans-serif;
   font-weight:400;
}

/* diseño de cada cuadro con su img y texto */

/* posicion relativa de la imagenes con respecto al navegador */
.imgcuadro{
  position: relative;
  width: 100%;
  height: 20vh;
}

/* posicion absoluta de la imagenes con respecto al cuadro que le rodea */
.imgcuadro img{
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.texto h3{
  text-align: center;
  padding-top: 10px;
  font-weight: 200;
  color: #111;
}


.texto a{
  font-size: 1em;
  font-weight: 100;
  text-decoration: none;
}

/* el siguiente bloque de código estiliza la sección de la newsletter */

.newsletter{
     position: relative;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     max-width: 100%;
     padding-top: 100px;
     text-align: center;
     background-color:  #ffffff;
     box-shadow: 0 -3em 3em rgba(0,0,0,0.03);
}

h4{
     font-family: 'Abril Fatface', cursive;
     color: black;
     font-size: 2em;
     margin-bottom: 10px;
     font-weight: 200;
}


.formulario .inputForm{
      width: 100%;
      padding: 10px;
      color: #111;
      font-size:1em;
 
}

input[type="submit"]{
      font-size: 1.5em;
      color: grey;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      max-width: 200px;
      font-weight: 200;
      cursor: pointer;

}

/* estilización del footer */

footer .copyright{
      background-color: black;
      text-align:center; 
}

.copyright p{
      color:#fff;
}


/* RESPONSIVE */



/* Muestra este estilo cuando el ancho de la pantalla es inferior a 900px */

@media (max-width:900px) {

/* los siguientes bloques de código estiliza la cabecera de la página web */

header .logo{
      margin-left: 0px;
      font-size: 2em;
}

header{
      padding: 10px 20px;
}

.abrir{
      display: block;
      width: 60px;
}

 
.abrir span{
      display: block;
      border-top: 3px solid white;

}

.abrir span:not(:first-child){
      margin-top: 3px;
}

.cerrar{
      display: block;
      color: white;
      font-family: sans-serif;
      font-weight: 200;
      font-size: 2em;
      position: absolute; 
      top: 20px;
      right: 20px;
}

nav{ 
      position: fixed;
      top: -100vh;
      left: 0;
      margin-top: 0;
      padding: 20px;
      background-color: black;
      width: calc(100% - 40px);
      height: calc(100vh - 40px);
      transition: top 0.7s;
}

.desplegado{
      top: 0;
}

nav ul{
      display: block; 
}

nav li:not(:last-child)::after{
      display: none;
}

nav li{
      padding: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 2.5em;
      position: static;
}

nav li:not(:first-child){
       margin-top: 20px;
}

nav a{
       color: white;
}

section{
       padding: 20px;
}

/* los siguientes tres bloques de código estiliza la Home */

.imgFondo .cuadro h1{
       font-size: 4em;
       color: white;
}

.imgFondo p{
       font-size: 2.5em;
       color: white;
}

/* los siguientes tres bloques de código estiliza la sección Top Brunch */

.topBrunch{
       margin-top: 50px;
}

.topBrunch .cuadro{
       margin-top: 20px;
}

.topBrunch .cuadro{
       margin: 10px;
}

.texto{
       text-align: center;
}

.textosRestaurante h2{
       font-size: 1.8em;
       line-height: 1.5em;
       margin-bottom: 15px;
       font-weight: 300;
}

.textosBrunch h2{
       font-size: 1.8em;
       line-height: 1.5em;
       margin-bottom: 15px;
       font-weight: 300;
}

.cuadro{

       width: 30%;
       margin: 10px;
       padding: 10px;
}

.imgcuadro{
       height: 20vh;
}

/* los siguientes siete bloques de código estiliza la sección Top Restaurantes */

.seccion-restaurantes{
       height: auto;
       min-height: 100vh;
       display: flex;
       width: 97%; 
       justify-content: center;
       align-items: start;
       align-content: center;
       padding-left: 10px;
       padding-right: 10px;
       margin: 12px;

}

.seccion-restaurantes .contenido-izquierda img{
       height: 40vh;
}

/*.seccion-restaurantes section{
       position: relative;
       width: 100%;
       height: auto;
       margin: 80px 20px;
} */

.seccion-restaurantes .general{
       flex-direction: column;
}

.seccion-restaurantes .contenido-izquierda{
       width: 100%;
       height: 100%;
}

.seccion-restaurantes .contenido-derecha{
       width: 100%;
       height: auto;
       padding: 175px 0 0;
}

.seccion-restaurantes .imgReducidas{
       position: absolute;
       display: flex;
       top: 0;
       margin-top: 35px;
       height: 110px;
}

.seccion-restaurantes .general{
       width: 85%;
}

}

/* Muestra este estilo cuando el ancho de la pantalla es inferior a 400px */

@media (max-width: 400px) {

/* los siguientes dos bloques de código estiliza la Home */

.imgFondo  h1{
       margin-top: 40px;
       text-align: center;
       font-size: 2em;
       color: #fff;
}

.imgFondo  p{
       font-size: 1em;
       font-weight: 200;
       color: #ffff;
       margin-top: 100px;
       text-align: center;
       margin: 50px;
}

/* los siguientes tres bloques de código estiliza la sección Top Brunch */

.cuadro{
       width: 80%;
}

.imgcuadro{
       height: 30vh;
}

.topBrunch{
       margin-top:20px;
       padding:0px;

}

/* los siguientes tres bloques de código estiliza la sección Top Restaurantes */

.textosRestaurante h2{
       font-size:1.5em;
}

.textosRestaurante p{
       font-size:0.8em;
       font-weight:100;
}

.seccion-restaurantes{
       width: 90%;
       margin: 20px;
}

.seccion-restaurantes .general{
       padding: 25px;
}

.seccion-restaurantes .contenido-derecha{
       width: 100%;
       height: auto;
       padding: 115px 0 0;
}

.seccion-restaurantes .imgReducidas{
       margin-top: 20px;
}

.seccion-restaurantes .imgReducidas img{
       width: 50px;
       height: 50px;
}



.seccion-restaurantes .contenido-izquierda {
       height: 100%;
       
}

.seccion-restaurantes .contenido-izquierda img{
       height: 20vh;
}

}

/* Muestra este estilo cuando el ancho de la pantalla es inferior a 320px */

@media (max-width: 320px) {

/* en los siguientes bloques de código está estilizado el contenido de la Home */

.imgFondo{
       height: 60vh;
}

.cuadro{
       width: 70%;
}

.imgcuadro{
       height: 20vh;
}

/* en los siguientes bloques de código está estilizado el contenido de la sección de Top Restaurantes */

.textosRestaurante h2{
       font-size: 1.5em;
       font-weight: 500;
}

.textosRestaurante p{
       font-size: 0.8em;
       font-weight: 400;
}

.textosRestaurante{
       position: relative;
       top: -100px;
}

.seccion-restaurantes {
       width: 270px;
       margin: 0px;
       display: block;
       position: static;
       padding: 25px 25px;
}

.seccion-restaurantes .general{
       padding: 20px;
}

.seccion-restaurantes .imgReducidas img{
       width: 70px;
       height: 70px;
}

.seccion-restaurantes .contenido-izquierda img{
       height: 30vh;
}

}




